$enable-responsive-font-sizes:true;
$rfs-unit:px;


$blue:#45ADD6;//primary
$gray-600:#ECECEC;//secondary
$gray-800:#1a1a1a;//dark
$cyan:#404F99;
$gray-100:#484848;
$gray-400: #dcdcdc;
$gray-700:#888888;
$gray-200:#a4a4a4;

$table-cell-padding:.5rem;