.card {
  background-color: $white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba($black, 0.08);

  &__login {
    padding: 2rem 1rem;
    box-shadow: 0 2px 4px rgba($blue, 0.08);

    .form-group {
      margin-bottom: 1rem;
    }
  }

  &--right {
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
  }
  &--img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: top;
    // display: block;
    // margin: auto;
  }
  &--heading {
    font-weight: 700;
  }

  &--text {
    font-weight: 400;
    @include des;
  }

  &--amazon {
    height: 180px;
    padding: 0;

    // @include media-breakpoint-down(lg) {
    //   height: 157px;
    // }

    @include media-breakpoint-down(md) {
      height: 180px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &--donation {
  }
}

.press--section {
  .card {
    background-color: $gray-400;
  }
}
